@use "./base/placeholders";

.hero_section {
    width: 100%;
    height: 90vh;
    border: 4px red solid;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .hero_content {
        width: 530px;
        flex-wrap: wrap;
        height: 303px;
        border: 4px green solid;
        flex-direction: column;
        align-items: ;
        .hero_img {
            border: 4px blue solid;
        }
    }
}
