@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-display: swap;
    src: url("../assets/fonts/Roboto-Bold.woff2") format("opentype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bolder;
    font-display: swap;
    src: url("../assets/fonts/Roboto-Black.woff2") format("opentype");
}

@font-face {
    font-family: "OpenSans";
    font-weight: normal;
    font-display: swap;
    src: url("../assets/fonts/OpenSans-Regular.woff2") format("opentype");
}

@font-face {
    font-family: "Yellowtail";
    font-weight: normal;
    font-display: swap;
    src: url("../assets/fonts/Yellowtail-Regular.woff2") format("opentype");
}