:root {
    --color-primary: #274c5b;
    --color-secondary: #7eb693;
    --color-tertiary: #efd372;

    --color-white: #ffffff;
    --color-grey: #d4d4d4;
    --color-grey-light: #f9f8f8;
    --color-black: #525c60;
    --color-green-light: #eff6f1;

    --font-family-primary: Roboto, sans-serif;
    --font-weight-primary-bolder: 900;
    --font-family-secondary: OpenSans, serif;
    --font-family-tertiary: Yellowtail, serif;

    --font-size-h1: 70px;
    --font-size-h2: 50px;
    --font-size-h3: 40px;
    --font-size-h4: 35px;
    --font-size-h5: 30px;
    --font-size-h6: 25px;
    --font-size-content: 18px;
    --font-size-button: 20px;
    --font-size-quotes: 20px;

    --spacing-4xs: 2px;
    --spacing-2xs: 4px;
    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-xl: 40px;
    --spacing-xxl: 48px;
    --spacing-2xl: 54px;
    --spacing-4xl: 108px;
}